@charset "UTF-8";
/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
/*

      p {
        font-size: 16px;

        @include tablet {
          font-size: 18px;
        }

        @include desktop {
          font-size: 20px;
        }
      }

*/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #151515;
}

html {
  font-size: 1em;
}

body {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  line-height: 1.45;
}

p {
  margin-bottom: 1.3em;
}

@media (min-width: 1024px) {
  p {
    margin-bottom: 1.3em;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.header .header__subtext {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-weight: 800;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 3.157em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  h1,
  .h1 {
    font-size: 6.854em;
  }
}

@media (min-width: 1024px) {
  h1,
  .h1 {
    font-size: 6.854em;
  }
}

h2,
.h2 {
  font-size: 2.369em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  h2,
  .h2 {
    font-size: 4.236em;
  }
}

@media (min-width: 1024px) {
  h2,
  .h2 {
    font-size: 4.236em;
  }
}

h3,
.h3 {
  font-size: 1.777em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  h3,
  .h3 {
    font-size: 2.618em;
  }
}

@media (min-width: 1024px) {
  h3,
  .h3 {
    font-size: 2.618em;
  }
}

h4,
.h4 {
  font-size: 1.333em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  h4,
  .h4 {
    font-size: 1.618em;
  }
}

@media (min-width: 1024px) {
  h4,
  .h4 {
    font-size: 1.618em;
  }
}

h5,
.h5,
.header .header__subtext {
  font-size: 0.75em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  h5,
  .h5,
  .header .header__subtext {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  h5,
  .h5,
  .header .header__subtext {
    font-size: 1em;
  }
}

small,
.font_small {
  font-size: 0.618em;
}

.nav {
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 9;
  background-image: -webkit-linear-gradient(bottom, rgba(21, 21, 21, 0) 2%, #151515 79%);
  background-image: linear-gradient(-360deg, rgba(21, 21, 21, 0) 2%, #151515 79%);
}

@media (min-width: 1024px) {
  .nav {
    position: fixed;
  }
}

.nav__logo {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav__menu {
  width: 32px;
  height: 32px;
  background: url("../images/icon-menu.svg") no-repeat center center;
}

.header {
  width: 100%;
  height: 50%;
  min-height: 50%;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 100%;
    min-height: 100%;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 100%;
    min-height: 100%;
  }
}

.header:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0.6;
  background: url(../images/header-bg.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  min-height: 50%;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header:before {
    height: 100%;
    min-height: 100%;
  }
}

@media (min-width: 1024px) {
  .header:before {
    height: 100%;
    min-height: 100%;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.4;
  }
}

.header .header__content {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.header .header__content .header__copy {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.header .header__content .header__tagline {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px 0;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(top, rgba(21, 21, 21, 0) 2%, #151515 79%);
  background-image: linear-gradient(-180deg, rgba(21, 21, 21, 0) 2%, #151515 79%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .header__content .header__tagline {
    padding: 48px 0;
  }
}

@media (min-width: 1024px) {
  .header .header__content .header__tagline {
    padding: 48px 0;
  }
}

.header .header__content .header__tagline .header__taglineCopy {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .header__content .header__tagline .header__taglineCopy {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header .header__content .header__tagline .header__taglineCopy {
    display: block;
  }
}

.header .header__content .header__tagline .arrow-down {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 32px;
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .header__content .header__tagline .arrow-down {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header .header__content .header__tagline .arrow-down {
    display: block;
  }
}

.about {
  padding: 48px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .about {
    margin: auto;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    min-height: 100%;
    max-width: 864px;
  }
}

.about .about__photo {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 1024px) {
  .about .about__photo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 48px;
  }
}

.about .about__bio {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 1024px) {
  .about .about__bio {
    padding-left: 48px;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
}

.arrow-down {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/icon-arrow-down.svg") no-repeat center center;
}

.btn-email {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  padding: 20px 60px;
  font-family: OpenSansCondensed-Bold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 5.71px;
  margin-top: 30px;
}

.header .header__intro, .header .header__subtext {
  text-transform: uppercase;
}

.header .header__subtext {
  display: block;
  letter-spacing: 0.3em;
  font-weight: 400;
  margin-top: -16px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .header__subtext {
    margin-top: -48px;
  }
}

@media (min-width: 1024px) {
  .header .header__subtext {
    margin-top: -48px;
  }
}

.header .header__taglineCopy {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #999;
  text-align: center;
}

.about .bio__title {
  text-transform: uppercase;
}
 


  /*# sourceMappingURL=page.css.map */