.header {

	.header__intro, .header__subtext {
		text-transform: uppercase;
	}

	.header__subtext {
		@extend .h5;
		letter-spacing: 0.3em;
		font-weight: 400;
	}

	.header__taglineCopy {
		font-family: $font-headers;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		color: #fff;
		text-align: center;

		@include phone {
			font-size: 12px;
			line-height: 16px;
		}
	}
}

.about {
	.bio__title {
		text-transform: uppercase;
		font-weight: 600;
		line-height: 1em;
	}

	.section__number {
		font-size: 24em;
		font-weight: 700;
		line-height: 1em;
		font-family: $font-headers;
	}
}